{% extends "dashboard.twig" %}
{% block notification %}{% endblock %}
{% block content %}

{% include "@CoreHome/_siteSelectHeader.twig" %}

{% if (menu is defined and menu) %}
    <div piwik-reporting-menu></div>
    <div class="nav_sep"></div>
{% endif %}

{% include "@CoreHome/_indexContent.twig" %}

{% endblock %}

